@tailwind base;
@tailwind components;
@tailwind utilities;

a:hover {
  color: inherit;
  text-decoration: underline;
}

body {
  background-color: white;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }
}